.background{ 
  background: #1f73a8;
  background: -webkit-linear-gradient(#1f73a8, #ffffff);
  background:    -moz-linear-gradient(#1f73a8, #ffffff);
  background:         linear-gradient(#1f73a8, #ffffff);

}

#head {
    background-color: #1f73a8;
    font: #000000;
}

.navbar.navbar-inverse{
        background-color: #1f73a8;
    font: #000000;
}
.container-fluit .row{
    margin-top: 50px;
}

#main {
    width: 75%;
    background-color: #ffffff
}

#BG-Image1 {
background: url('1.png'); 
}

#BG-Image2 {
background: url('2.png'); 
}

/*Галерея*/
.gallary img{
    margin: 5px;
    border: 5px solid #454545;
}

a.photo:hover img{
        border: 5px solid #be0404;
}
.text{
    font-size: 36px;
}

.text2{
    font-size: 30px;
}